<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #e0e0d6;
        }

        nav {
            width: 100vw;
        }

        .nav {
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            width: 100%;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav">
            <ul>
                <a href="{% url 'info:input_dish' %}">
                    <li>Dish input</li>
                </a>
                <a href="{% url 'info:recipe_input' %}">
                    <li>Recipe input</li>
                </a>
                <a href="{% url 'info:input_subrecipe' %}">
                    <li>Subrecipe input</li>
                </a>
                <a href="{% url 'info:menu' %}">
                    <li>Menu input</li>
                </a>
                <a href="{% url 'info:register' %}">
                    <li>Register</li>
                </a>
                <a href="{% url 'info:login_user' %}">
                    <li>Login</li>
                </a>
                <a href="{% url 'info:logout_user' %}">
                    <li>Logout</li>
                </a>
            </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>

</html>