{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
    <style>
        .body-container {
            margin-top: 10%;
        }
    </style>
    {% block style %}
    {% endblock %}
</head>

<body>
    <nav class="nav ">
        <div class="container">
            <h1 class="logo"><a href="{% url 'info:index' %}">My website</a></h1>
            <ul>
                <li><a href="{% url 'info:input_dish' %}" class="current">Dish Input</a></li>
                <li><a href="{% url 'info:recipe_input' %}">Recipe Input</a></li>
                <li><a href="{% url 'info:input_subrecipe' %}">Subrecipe input</a></li>
                <li><a href="{% url 'info:menu' %}">Menu input</a></li>
                <li><a href="{% url 'info:register' %}">Register</a></li>
                <li><a href="{% url 'info:login_user' %}">Login</a></li>
                <li><a href="{% url 'info:logout_user' %}">Logout</a></li>
                ;<i><a href="{% url 'Qrcode:code' %}">Code</a></i>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="body-container">
        {% block body %}
        {% endblock %}
    </div>

</body>
<script src="static/script.js"></script>
<script src="static/details.js"></script>
{% block static %}
{% endblock %}

</html>