<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    {% if msg %}
    <h2>{{msg}}</h2>
    {% else %}
    <h2>Please Enter your new Password</h2>
    <div class="hey"></div>
    {% endif %}
    <div class="input" id="ddr-container">
        <form action="{% url 'change_password' user %}" method="POST">
            {% csrf_token %}
            <label class="lable" for="password1">New Password
                <input class="password" type="password" name="password1" id="pass1"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    required>
            </label>
            <span class="helptext">
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </span>
            <label class="lable" for="password2">Re-enter your new password
                <input class="password" type="password" name="password2" required>
            </label>
            <input type="submit">
        </form>
    </div>
</body>

</html>