{% extends "info/base.html" %}
{% load static %}


{% block style %}
<style>
    .page {
        width: auto;
        height: 80vh;
        margin-left: 30%;
    }

    .title {
        padding: 20px;
        width: 45%;
        height: auto;
        border: solid 1px #000;

    }

    ul {
        list-style: none;
    }

    .recipe {
        margin-top: 10px;
        padding: 20px;
        width: 45%;
        height: auto;
        border: solid 1px #000;
    }

    .subrecipe {
        margin-top: 10px;
        padding: 20px;
        width: 45%;
        height: auto;
        border: solid 1px #000;
    }
</style>

{% endblock %}
{% block body %}
<div class="page" id="page">
    {% for pic in image %}
    <a href="/media/{{pic}}"><img src="/media/{{pic}}" alt="{{pic}}" width="400" height="300"></a>

    {% endfor %}
    <h2>Title</h2>
    <div class="title">
        <ul>


            {% for i in recipe %}
            <a href="{% url 'info:detail' i %}">
                <li>{{i}}</li>
            </a>
            {% endfor %}
            {% if sub_title %}
            {% for t in sub_title %}
            <a href="{% url 'info:detail' t %}">
                <h2>{{t}}</h2>
            </a>
            {% endfor %}
            {% endif %}

        </ul>
    </div>
    <h2>Recipe</h2>
    {% for portion in portions %}
    <h4 id="portions">Portions per recipe: {{portion}}</h4>
    {% endfor %}
    <div class="recipe">
        <ul>

            {% for m in ingrediant %}

            <li id="line">{{m}}</li>

            {% endfor %}
        </ul>
    </div>
    <h2>Sub Recipe</h2>
    <div class="subrecipe">
        <ul>
            {% if subrecipe %}

            {% for d in subrecipe %}
            <a href="{% url 'info:detail' d.title %}">
                <li>{{d.title}}</li>
            </a>
            {% endfor %}
            {% endif %}
        </ul>
    </div>

</div>

<!--<script src="{static 'details.js'}"></script>-->

<script>
    const PortionsRecipe = document.getElementById('portions')
    const MainContainer = document.querySelector('.page')
    const RecipeContainer = document.querySelector('.recipe')
    const LinesRecipe = RecipeContainer.childNodes
    const LineContainer = document.getElementById('line')

    const i = RecipeContainer.innerText.split('\n')
    //console.log(i)
    let ingredients = []
    let ingred = []
    let ArrSum = []
    const TotalCalory = new Set([])

    var Sum = new Set([])
    var NewArr = Array.from(TotalCalory)


    //let TotalX = TotalCalory.reduce((sum, num) => sum + num, 0)




    const Calories_data = ('/calory_data')
    GetCaloryData(Calories_data)
    async function GetCaloryData(url) {
        const res = await fetch(url)
        const data = await res.json()


        i.forEach(item => {
            let itemName = item.split(/\s+/)
            // console.log(itemName)
            itemName.forEach(element => {
                if (isNaN(element)) {
                    //console.log(element)
                    ingredients.push(element)
                }

            })
            //remove duplicates from arr
            ingredients.forEach(e => {
                if (!ingred.includes(e)) {
                    ingred.push(e)
                }
            })


        })




        data.forEach(entry => {
            //console.log(entry.title)

            ingred.forEach(ing => {

                if (entry.title.toLowerCase() === ing.toLowerCase() || entry.title.toLowerCase() + 's' === ing.toLowerCase()) {
                    //Get the amount for the itam and calculate the calory 
                    // console.log(entry.title)
                    i.forEach(x => {
                        if (x.includes(ing)) {
                            let NumberEntry = x.split(/\s+/)
                            let calc = NumberEntry[0] * entry.Kcal
                            TotalCalory.add(calc)

                        }
                    })
                    TotalCalory.forEach((num, ind) => {
                        let sum = ''
                        for (let i = 0; i < TotalCalory.size; i++) {
                            sum = sum + num
                            console.log(i)
                        }

                    })
                    //console.log(ingredients)

                }
            })



        });


    }






    console.log(TotalCalory)
    /* function getSum(total, num) {
         return total + num
 
     }*/
    //console.log(Sum)



    //console.log(ArrSum)
    const AllergenData = ('/allergent-data')
    GetAllergenData(AllergenData)

    async function GetAllergenData(url) {
        const res = await fetch(url)
        const data = await res.json()
        //console.log(data)
    }



</script>

{% endblock %}