{% extends "info/base.html" %}
{% load static %}


{% block style %}
<style>
    .page {
        width: auto;
        height: 80vh;
        margin-left: 30%;
    }

    .title {
        padding: 20px;
        width: 45%;
        height: auto;
        border: solid 1px #000;

    }

    ul {
        list-style: none;
    }

    .recipe {
        margin-top: 10px;
        padding: 20px;
        width: 45%;
        height: auto;
        border: solid 1px #000;
    }

    .subrecipe {
        margin-top: 10px;
        padding: 20px;
        width: 45%;
        height: auto;
        border: solid 1px #000;
    }
</style>

{% endblock %}
{% block body %}
<div class="page" id="page">
    {% for pic in image %}
    <a href="/media/{{pic}}"><img src="/media/{{pic}}" alt="{{pic}}" width="400" height="300"></a>

    {% endfor %}
    <h2>Title</h2>
    <div class="title">
        <ul>


            {% for i in recipe %}
            <a href="{% url 'info:detail' i %}">
                <li id="title">{{i}}</li>
            </a>
            {% endfor %}
            {% if sub_title %}
            {% for t in sub_title %}
            <a href="{% url 'info:detail' t %}">
                <h2>{{t}}</h2>
            </a>
            {% endfor %}
            {% endif %}

        </ul>
    </div>
    <h2>Recipe</h2>
    {% for portion in portions %}
    <h4 id="portions">Portions per recipe: {{portion}}</h4>
    <h5 id="calory"></h5>
    {% endfor %}
    <div class="recipe">
        <ul>

            {% for m in ingrediant %}

            <li id="line">{{m}}</li>

            {% endfor %}
        </ul>
    </div>
    <h2>Sub Recipe</h2>
    <div class="subrecipe">
        <ul>
            {% if subrecipe %}

            {% for d in subrecipe %}
            <a href="{% url 'info:detail' d.title %}">
                <li>{{d.title}}</li>
            </a>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="subrecipe" id="allergent">

    </div>
    <form action="" method="post">
        <input type="text">
        <input type="button" value="Create">
    </form>
</div>
<div style="margin: auto">
    {% for s in svg %}
    {{ s|safe }}
    {% endfor %}

</div>
<!--<script src="{static 'details.js'}"></script>-->

<script>
    const QrCodeFormTitle = document.getElementById('id_title')
    const TitleRecipe = document.getElementById('title')
    const UrlAddressConst = document.getElementById('url')
    const PortionsRecipe = document.getElementById('portions').innerText
    const MainContainer = document.querySelector('.page')
    const RecipeContainer = document.querySelector('.recipe')
    const LinesRecipe = RecipeContainer.childNodes
    const LineContainer = document.getElementById('line')
    const AllergenContainer = document.getElementById('allergent')
    const CaloriElement = document.getElementById('calory')

    QrCodeFormTitle.innerText = TitleRecipe
    console.log(QrCodeFormTitle)

    const i = RecipeContainer.innerText.split('\n')
    //console.log(i)
    let ingredients = []
    let ingred = []
    let ArrSum = []
    const TotalCalory = []

    var Sum = new Set([])
    var TotalKcal = []






    // Calory information function 
    const Calories_data = ('/calory_data')
    GetCaloryData(Calories_data)
    async function GetCaloryData(url) {
        const res = await fetch(url)
        const data = await res.json()


        i.forEach(item => {
            let itemName = item.split(/\s+/)

            itemName.forEach(element => {
                if (isNaN(element)) {

                    ingredients.push(element)
                }

            })
            //remove duplicates from arr
            ingredients.forEach(e => {
                if (!ingred.includes(e)) {
                    ingred.push(e)
                }
            })


        })

        data.forEach(entry => {


            ingred.forEach(ing => {

                if (entry.title.toLowerCase() === ing.toLowerCase() || entry.title.toLowerCase() + 's' === ing.toLowerCase()) {
                    //Get the amount for the itam and calculate the calory 

                    i.forEach(x => {
                        if (x.includes(ing)) {
                            let NumberEntry = x.split(/\s+/)
                            let calc = NumberEntry[0] * entry.Kcal
                            TotalCalory.push(Math.floor(calc))

                        }
                    })
                    // calculating the total calories
                    let TotalX = TotalCalory.reduce((sum, num) => sum + num, 0)
                    TotalKcal.push(TotalX)



                }
            })

        });
        let cal = TotalKcal[TotalKcal.length - 1]
        let PortionsNuber = PortionsRecipe.split(/\s+/)
        PortionsNuber.forEach(num => {
            if (!isNaN(num)) {
                let PerPortion = cal / num

                //console.log(PerPortion)
                CaloriElement.innerText = `${PerPortion} kcal per One portion`
                CaloriElement.style.textDecoration = 'underline'
            }
        })


    }


    // Allergen information function 
    const AllergenData = ('/allergent-data')
    GetAllergenData(AllergenData)
    var IngrAllergy = []
    var DaiteryContent = new Set()
    async function GetAllergenData(url) {
        const res = await fetch(url)
        const data = await res.json()


        i.forEach(item => {
            let itemName = item.split(/\s+/)
            itemName.forEach(name => {
                if (isNaN(name) && name != 'g') {
                    IngrAllergy.push(name)
                }
            })

            data.forEach(entry => {

                let EntryTitle = entry.title.split(/\s+/)
                EntryTitle.forEach(title => {
                    if (IngrAllergy.includes(title)) {
                        DaiteryContent.add(entry.type)

                    }
                })



            })


        })
        //create input on the page with the allergens
        DaiteryContent.forEach(ent => {
            const Pallergent = document.createElement('p')
            Pallergent.innerText = ent + ','
            Pallergent.style.color = 'red'
            AllergenContainer.appendChild(Pallergent)
        })
        console.log(DaiteryContent)
    }
    const UrlAddress = window.location.href
    UrlAddressConst.innerText = UrlAddress
    console.log(UrlAddressConst)

</script>

{% endblock %}